body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    height: auto;
    grid-auto-rows: auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}