body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button {
    margin: 8px;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid black;
}

button:active {
    padding: 6.5px;
}

#container {
    display: grid;
    height: auto;
    grid-auto-rows: auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}